body {
    background-color: rgb(230, 230, 230);
    font-family: "Poppins", sans-serif;
}

.dino-line {
    margin-top:43px;
}
.bottom-image-container {
    text-align: center; /* Center the image horizontally */
    position: relative;
}

nav {
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid #ccc
}

.icon-home {
    padding-left: 0px;
    padding-right: 0px;
    /* padding-right: 32px; */
}

.icon-div {
    padding-right:32px;
}